.page {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 880px;
    margin: 0 20px;
    background-color: #2A2C2F;
    color: #fff;
    min-width: 320px;
}

@media screen and (min-width:920px){
    .page {
        margin: 0 auto;
    }
}
