.page {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    max-width: 880px;
    padding: 0 20px;
    background-color: #2A2C2F;
    color: #fff;
    min-width: 280px;
    box-sizing: border-box;
}

@media screen and (min-width:940px){
    .page {
        margin: 0 auto;
        padding: 0;
    }
}
