.popup__form {
	display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    margin: 32px 0;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
}

@media screen and (min-width:480px){
    .popup__form {
        padding: 35px;
        min-width: 431px;
        min-height: 330px;
        margin: 43px;
        width: calc(100% - 40px);
    }
}
