.popup__btn {
	background-color: #000;
	color: #fff;
	padding: 16px;
	border: none;
	cursor: pointer;
	font-size: 14px;
    margin-top: 15px;
}
.popup__btn:hover {
    background-color: #313131;
}

@media screen and (min-width:480px){
	.popup__btn {
		font-size: 16px;
        margin-top: 0;
	}
}
