.cards__heart {
	display: flex;
    width: 22px;
    min-width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url('../../../images/heart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.cards__heart:hover {
	background-image: url('../../../images/heart-hover.svg');
}
.cards__heart:active {
	background-image: url('../../../images/heart-active.svg');
}
