.popup__close {
    position: absolute;
    top: -32px;
    right: 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    z-index: 101;
}

.popup__close:before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../../images/close-icon.svg");
    background-size: cover;
    background-position: center center;
    position: absolute;
    right: 0;
}


@media screen and (min-width: 500px) {
    .popup__close {
        right: -32px;
    }
    .popup__close:before {
        width: 32px;
        height: 32px;
    }
    .popup__input {
        font-size: 14px;
    }
    
}

